<div class="mt-4">
    <div class="row first-row w-200">
        <div class="col-lg-3 ">
            <!-- Button đã được nhấn -->
            <!--<button type="button" class="btn btn-primary active shadow p-3 mb-4" style="margin-top: 16px;">Đã được nhấn</button></br> -->
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="custom-title"><a href="/admin" style="text-decoration: none; color: white;">Chức năng</a></h2>
                </div>
                <div class="col-lg-8 custom-container">
                    <!-- Nút Thêm dữ liệu -->
                    <a href="/admin/create" class="btn btn-primary custom-btn unpressed-btn"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="margin-right: 5px;">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg> 
                        Thêm dữ liệu
                    </a>
                    <!-- Nút Xóa dữ liệu -->
                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Xóa dữ liệu</a>
                    <!-- Nút Sửa dữ liệu -->
                    <a href="/admin/update" class="btn btn-primary custom-btn unpressed-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16" style="margin-right: 5px;">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                        </svg> 
                        Sửa dữ liệu
                    </a>
                    <!-- Nút Tìm kiếm dữ liệu -->
                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Tìm kiếm dữ liệu</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Biểu đồ</a>

                    <a href="#" class="btn btn-primary custom-btn pressed-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="margin-right: 5px;">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg> 
                        Thùng rác ({{deletedCount}})
                    </a>
                    
                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    <a href="#" class="btn btn-primary custom-btn unpressed-btn">Chức năng mới</a>

                    
                </div>
            </div>
        </div>
        <div class="col-lg-1 d-flex align-items-center">
            <div class="vertical-line"></div>
        </div>
        <div class="col-lg-8 ">
            <h3>
                Khóa học của tôi
            </h3>
            <table class="table mt-4">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">STT</th>
                        <th scope="col">Tên khóa học</th>
                        <th scope="col">Level</th>
                        <th scope="col">Thời gian tạo</th>
                        <th scope="col" >Sửa</th>
                        <th scope="col" >Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each adminFindDeleted}}
                    <tr>
                        <th scope="row" style="text-align: center;">{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td style="text-align: center;">{{this.level}}</td>
                        <td>{{this.createdAt}}</td>
                        <td style="text-align: center;">
                            <!--data-id là chỗ để lấy id-->
                            <a href="#" class="edit-button btn-restore" data-id="{{this._id}}"><span>Khôi phục</span></a>
                        </td>
                        <td style="text-align: center;">
                            <a href="#" id="btn-delete-course" class="delete-button" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal"><span>Xóa vĩnh viễn</span></a>
                            
                        </td>
                    </tr>
                    {{else}}
                        <tr>
                            <td colspan="5" style="text-align: center;">
                                Thùng rác trống.
                                <a href="/admin/update" class="edit-button"><span>Danh sách khóa học</span></a>
                                
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                </table>
        </div>
    </div>
</div>

<!--Delete hidden form-->
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<!--Modal of button delete-->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="delete-course-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sure !!!???
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger" >Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
 <script>
    document.addEventListener('DOMContentLoaded', function(){
        //$(this).data('id');var courseID;
        //lấy nút form bằng name
        var deleteForm = document.forms['delete-course-form'];

        var restoreForm = document.forms['restore-course-form'];

        var btnDeleteCourse = document.getElementById('btn-delete');
        var btnRestore = $('.btn-restore');
        //$(this).data('id'); lấy id từ dòng nút "khôi phục" ở chỗ data-id
        var courseID = $(this).data('id');

        $('#delete-course-modal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            courseID = button.data('id');
            
        })

        btnDeleteCourse.onclick = function() {
            deleteForm.action = '/admin/trashcan/' + courseID + '/delete?_method=DELETE';
            deleteForm.submit();
        }
        btnRestore.click(function (e){
            //bỏ cái load lại trang của thẻ a (hành vi mặc định)
            e.preventDefault();
            var courseID = $(this).data('id');
            restoreForm.action = '/admin/trashcan/' + courseID + '/restore?_method=PATCH';
            restoreForm.submit();
        })
    })
</script>