<nav id="myNavbar">
    <span id="menu-icon">&#9776;</span>
    <ul>
        <li><img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-1/243982552_282193343596263_6043245316263749024_n.png?stp=cp0_dst-png_p40x40&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=xVPdq3F2SjoAX-AQ8kX&_nc_ht=scontent.fsgn5-13.fna&oh=00_AfBK7_KtajbD7LwJxPPhke-J04xNmNL09-p4x4wetNhgfw&oe=65FD3935" class="logo-shop"></li>
        <li style="margin-left: 400px;"><a href="/home">TRANG CHỦ</a></li>
        <li style="margin-left: 100px;"><a href="/user/addfunds">NẠP TIỀN</a></li>
        <li style="margin-left: 100px;"><a href="/dich-vu">DỊCH VỤ GAME</a></li>
        <li style="margin-left: 100px;"><a href="#">NICK GAME</a></li>
        <li style="margin-left: 100px;"><a href="#">KHÁC</a></li>
        <li class="user-section" style="margin-left: auto;">
        <a class="nav-link wallet" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight:bold;color: white; background-color: #ed145b; border: 7px solid #ed145b;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16" style="margin-right: 5px;">
                        <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                {{formatCurrency userInfo.coin}} VNĐ
                </a>
            <a class="nav-link dropdown-toggle user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{userInfo.image}}" class="user-avatar">
                {{userInfo.username}}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/infouser">Thông tin tài khoản</a></li>
                <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout" >Đăng xuất</a></li>
            </ul>
            
                
            
        </li>
        
    </ul>
</nav>
<div class="mt-4" >
    
        <div class="container">
            <div class="row" >
            {{!-- <button>HỌC NGAY</button>
            <ul>
                <li>Cấp độ: 
                    {{course.level}}
                </li>
            </ul> --}}
                <div class="col-lg-4" style="background-color: #efee9b;border-radius: 4%;">
                    <img src="{{infoCode1.image}}{{infoCode2.image}}{{infoCode3.image}}{{infoCode4.image}}" style="width: 80%; height: 80%;margin-top: 9%;margin-left: 9%;" alt="">
                </div>
                <div class="col-lg-1">
                    <div></div>
                </div>
                <div class="col-lg-7" style="background-color: #effcbe; border-radius: 4%;">
                    {{!-- <h2>{{infocode.image}}aaaa</h2> --}}
                    {{!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> --}}
                    {{!-- <p>{{infocode.image}}</p> --}}
                    <div class="row" style="margin-left: 10%; ">
                        <h1 >Huyền thoại nhẫn giả</h1>
                    </div>
                    <hr style="margin-left: 10%;" width="50%" align="left" />
                    <div class="row" style="margin-left: 10%;">
                        <h4 >GiftCode: {{infoCode1.nameCode}}{{infoCode2.nameCode}}{{infoCode3.nameCode}}{{infoCode4.nameCode}}</h4>
                    </div>
                    <hr style="margin-left: 10%;" width="50%" align="left" />
                    <div class="row" style="margin-left: 10%;">
                        <h5>Tồn kho: {{infoCode1.quatity}}{{infoCode2.quatity}}{{infoCode3.quatity}}{{infoCode4.quatity}}</h5>
                    </div>
                    <div class="row" style="margin-left: 10%;">
                        <h4>Giá: {{#if (eq infoCode1.slug "an-khang-thinh-vuong")}}
                            {{formatCurrency infoCode1.price}}
                        {{else if (eq infoCode2.slug "chuc-mung-nam-moi-2024")}}
                            {{formatCurrency infoCode2.price}}
                        {{else if (eq infoCode3.slug "mung-xuan-giap-thin")}}
                            {{formatCurrency infoCode3.price}}
                        {{else if (eq infoCode4.slug "itachi-tan-xuan")}}
                            {{formatCurrency infoCode4.price}}
                        {{else}}
                            <!-- Nếu không có slug nào khớp, bạn có thể đưa ra quyết định hoặc hiển thị một giá trị mặc định -->
                        {{/if}} VNĐ</h4>
                    </div>
                    <hr style="margin-left: 10%;" width="50%" align="left" />
                    <div class="row" style="margin-left: 10%;">
                        <form id="form-mua-code" method="" action="">
                            
                            <div class="input-number product__quantity">
                                <h5>Số lượng mua:</h5>
                                <input id="quatity" type="number" class="input-number__input form-control form-control-lg" min="1" name="quatity" value="1" >
                                
                            </div>
                            <button type="submit" id="btnMua" class="btn btn-primary" style="margin-top: 16px;">Mua</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row " style="margin-top: 5%;">
                {{!-- <div class="col-lg-4">
                    <h3>abc</h3>
                </div> --}}
                <div class="col-lg-12 ">
                    <h3 style="text-align: center;">Mô tả</h3>
                    <div class="row">
                        <div class="col-lg-12" style="background-color: #effcbe; border-radius: 2%;height: 100%;">
                            <h2>Code: {{profileCode.nameCode}}</h2>
                            <textarea style="width: 100%; height: 800px;font-size: x-large;" disabled>{{profileCode.detail}}</textarea>
                            <h2 style="text-align: center;">Ảnh</h2>
                            <img src="{{profileCode.image}}" style="width: 100%; height: 800px;">
                            
                        </div>
                    </div>
                </div>
                {{!-- <div class="col-lg-4">
                    <h3>abc</h3>
                </div> --}}
            </div>
        </div>
        
    
</div>
<script>
    $(document).ready(function () {
        $('#btnMua').on('click', function (e) {
            e.preventDefault();

            Swal.fire({
                title: 'Bạn có muốn mua sản phẩm này không?',
                text: "Bấm đồng ý để mua",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Mua',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Xử lý khi người dùng chọn "Mua"
                    var quatity = $('#quatity').val();


                    const slugcode1 = '{{infoCode1.slug}}';
                    const slugcode2 = '{{infoCode2.slug}}';
                    const slugcode3 = '{{infoCode3.slug}}';
                    const slugcode4 = '{{infoCode4.slug}}';
                    
                        $.ajax({
                            type: 'POST',
                            url: `/code/user/${slugcode1}${slugcode2}${slugcode3}${slugcode4}/boughtcode`,  // Thay đổi thành đường dẫn API của bạn
                            data: {
                                quatity: quatity
                            },
                            success: function (response) {
                                // Xử lý kết quả từ server
                                console.log('Dữ liệu đã được gửi thành công');
                                console.log('Server response:', response);
                                if(response.message == "Số lượng tồn kho không đủ"){
                                    Swal.fire({
                                        title: response.message,
                                        //text: "Bấm để chuyển sang trang lấy code",
                                        icon: "error",
                                    })
                                }else if(response.message == "Số dư không đủ hãy nạp thêm"){
                                    Swal.fire({
                                        title: response.message,
                                        //text: "Bấm để chuyển sang trang lấy code",
                                        icon: "error",
                                    })
                                }
                                else{
                                    Swal.fire({
                                        title: response.message,
                                        text: "Bấm để chuyển sang trang lấy code",
                                        icon: "success",
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = "/code-order?page=1";
                                        }
                                    });
                                }
                            },
                            error: function (error) {
                                console.error('Lỗi khi gửi dữ liệu: ', error);
                            }
                        });
                    // Thực hiện hành động mua hàng ở đây
                } else {
                    // Xử lý khi người dùng chọn "Hủy"
                    Swal.fire(
                        'Đã hủy',
                        'Bạn đã hủy thanh toán.',
                        'error'
                    );
                }
            });
            // Lấy giá trị từ trường input
            
     });
});
</script>