<div class="container" >    
    <nav class="navbar navbar-expand-lg bg-body-tertiary thanh-menu" >
        <div class="container-fluid" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <form class="d-flex" role="search" style="margin-right: 10px;" method="POST" action="/user/search">
                    <input class="form-control me-2 expanded-search-input" id="Search" name="Search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="/home" >HOME</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/register">Sign up</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Sign in</a>
                </li> --}}
                <li class="nav-item">
                <a class="nav-link" href="/user/addfunds">Nạp tiền</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Game
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home/game">Lô tô</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                </ul>
            <ul class="navbar-nav ml-auto ms-auto"> <!-- Thêm class ms-auto -->
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16" style="margin-right: 5px;">
                            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                        </svg>
                        {{userInfo.coin}} VNĐ
                    </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{userInfo.image}}" class="user-avatar">
                        {{userInfo.username}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/infouser">Thông tin tài khoản</a></li>
                        <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                        <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout" >Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-5" >
    {{!-- <div class="row">
        <marquee ><h3 id="noidung"></h3></marquee>
        <button id="mrA">Click here</button>
    </div> --}}
    <div class="row">
        <div class="col-sm-12">
            <div class="mt-4">
                <div class="row">
                    {{!-- code 1--}}
                    <div class="col-sm-6 col-lg-2">
                        <div class="card card-course-item" >
                            <a href="/code/user/{{searchCode1.slug}}/show" style="text-align: center; text-decoration: none; color: black;">
                                    <h7 class="card-title">
                                        Giftcode
                                    </h7>
                                </a><a href="/code/user/{{searchCode1.slug}}/show" style="text-align: center; text-decoration: none; color: black;">
                                    <h7 class="card-title">
                                        {{searchCode1.nameCode}}
                                    </h7>
                                </a>
                            <a href="/code/user/{{searchCode1.slug}}/show">
                                <img class="card-img-top" src="{{searchCode1.image}}" alt="{{searchCode1.nameCode}}" >
                            </a>
                            <div class="card-body">
                                <a href="/code/user/{{searchCode1.slug}}/show" style="text-align: center; text-decoration: none; color: black;">
                                    <h7 class="card-title">
                                        Số lượng: {{searchCode1.quatity}}
                                    </h7>
                                </a>
                                
                                <p class="card-text">
                                    
                                </p>
                                <a href="/code/user/{{searchCode1.slug}}/show" class="btn btn-primary">{{searchCode1.price}} VNĐ</a>
                            </div>
                        </div>
                    </div>
                    {{!-- code 2 --}}
                    
                    {{!-- abc --}}
                    {{#each courses}}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-course-item">
                            <a href="/courses/user/{{this._id}}/show">
                                <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                            </a>
                            <div class="card-body">
                                <a href="/courses/{{this.slug}}">
                                    <h5 class="card-title">
                                        {{this.name}}
                                    </h5>
                                </a>
                                
                                <p class="card-text">
                                    {{this.description}}
                                </p>
                                <a href="#" class="btn btn-primary">Xem</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            
            {{!-- <h2>10 vật liệu cứng nhất hành tinh</h2>
            <div class="fakeimg">Ảnh</div>
            <p>Nội dung</p>
            <p>Nhờ công nghệ tiên tiến, các nhà khoa học đã cho ra đời những "siêu vật liệu" nhân tạo có độ cứng vượt trội hơn nhiều kim cương. Dưới đây là 10 siêu vật liệu cứng nhất trên thế giới hiện nay, theo thứ tự tăng dần.</p>

            <h2 class="mt-5">Cận cảnh cú đớp mồm nhanh nhất thế giới động vật, 1/6000 giây</h2>
            <h5>2/9/2020</h5>
            <div class="fakeimg">Ảnh</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <div class="mt-4"> --}}
                {{!-- <div class="row">
                    
                </div> --}}
            </div>
        </div>
        
    </div>
</div>